h2 {
  color: red;
  color: #632145;
  /*color: rgb*/
}

#test {
  font-size: 25px;
  color: blue;
}

#test2 {
  background-color: brown;
  color: aqua;
}

.green-text {
  color: green;
}

.main-link {
  font-size: 35px;
  text-decoration: none;
  /*text-decoration-line: overline underline;
  text-decoration-style: wavy;
  text-decoration-color: #175c58;
  text-decoration-thickness: 3px;*/
}

.bold-text {
  font-size: 30px;
  font-weight: 800;
}

.download-style{
  font-family: "Fira Sans", Arial, sans-serif;
  font-weight: 800;
}

.first-headline{
  color: red;
}

.second-headline{
  color: green;
}
